/*Custom css */
body {
	background-color: white;
	color: #838383;
}

h1, h2, h3 {
	color: #749AAA;
}


/*h1 {
	margin-bottom: 1em;
}

h2 {
	margin: 2em 0 1em;
	font-size: 26px;
}

h3 {
	font-size: 20px;
}


p {
	margin: 0 0 1em 0;
}*/

.form-control {
	color: #000;
}

.form-group, .radio {
	margin-bottom: 25px;
}

.input-group-addon {
	background-color: black;
}
