/*Custom css */
body {
	background-color: white;
}

h1, h2, h3 {
}

.form-control {
	color: #000;
}

.form-group, .radio {
	margin-bottom: 25px;
}

.buffer
{
    margin-bottom: 30px;
}

.input-group-addon {
    background-color: white;
}

#_requestType {
    display: block;
    margin-bottom: 1em;
}

#_requestType > label {
    display: block;
    margin-bottom: 1em;
}