/*Custom css */
body {
	background-color: white;
}

h1, h2, h3 {
	color: #749AAA;
}

.form-control {
	color: #000;
}

.form-group, .radio {
	margin-bottom: 25px;
}

.table-responsive, .search-panel
{
    margin-bottom: 50px;
}
