/*Custom css */


.print-btn {
	margin-top: 10px;
}

.buffer
{
	margin-bottom: 30px;
}

.email-form-container {
	width: 60%;
}

.email-form-sent {
	padding: 15px;
}

.start-links a {
	 margin-bottom: 0.5em;
}

.sa-search {
	margin-top: 10px;
}
